<html>
    <head>
        <title>Your Results!!</title>
    </head>
    <body>
        <header class = "characterresult1">Your Results!</header>
        <br>
        <h1 class = "characterresult2">You are Draco Malfoy! </h1>
        <br>
        <br>
        <br>
        <p class = "characteranswer">You love the sound of your own voice. 
        You’re ambitious and seek material comfort. 
        Deep, deep, deeeep down you’re not as much of an jerk as people think.
</p>
    </body>
</html>