<html>
    <head>
        <title>Your Results!!</title>
    </head>
    <body>
        <header class = "characterresult1">Your Results!</header>
        <br>
        <h1 class = "characterresult2">You are Luna Lovegood! </h1>
        <br>
        <br>
        <br>
        <p class = "characteranswer">You’re free-spirited, quirky, and you love to daydream. 
        Your honesty, individuality, and attitude towards life is refreshingly insightful.

</p>
    </body>
</html>