<html>
    <head>
        <title>Your Results!!</title>
    </head>
    <body>
        <header class = "characterresult1">Your Results!</header>
        <br>
        <h1 class = "characterresult2">You are Neville Longbottom! </h1>
        <br>
        <br>
        <br>
        <p class = "characteranswer">You’re awkward and clumsy and hate being the center of attention. 
        But you’re brave and big-hearted and people can always trust you to help them out in a bad situation.</p>
    </body>
</html>